{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="about">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title ">Who we are</h2>
            <p >
                We are enthusiastic about automation and have fun developing applications (Web and Mobile). Searching for services on instagram is a time consuming manual activity and also not everyone is able to find/browse all the instagram pages doing small business. With the “Small business” project, we have set ourselves the goal of fully automating the search for small businesses according to category. Businesses who want to be listed with us can do for free of cost and also other users can browse the businesses listed on the website and can contact the page/website directly.

                We just do the listing for FREE.

                We would like to continuously develop the project and are also constantly looking for new ideas and exciting projects. If you have suggestions for improvement or ideas, please write us an email to <a class="about-anchor" href="mailto:dhirensr@gmail.com"> dhirensr@gmail.com</a>
            </p>
        </div>

        <div class="card" id="card-about">
            <img  width="298" height="200" src="{% static 'images/DSC_0099.JPG' %}" alt="John" >
            <h4>Dhiren Serai</h4>

            <a class="about-anchor" href="https://github.com/dhirensr"><i class="fa fa-github"></i></a>
            <a class="about-anchor" href="mailto:dhirensr@gmail.com"><i class="fa fa-envelope"></i></a>
            <a class="about-anchor" href="https://www.linkedin.com/in/dhiren-serai-16409b114/"><i class="fa fa-linkedin"></i></a>

        </div>




    </div>
</section>

{% endblock %}
